/* Reset CSS */
body {
    margin: 0;
    padding: 0;
    display: inline-block
}

* {
    box-sizing: border-box;
}

/* Můj kód */
:root {
    --background-green: #FAFFF1;
    --background-blue: #f1f8ff;
    --background-blue2: #e2f0ff;


    --primary-green: #8fa30d;
    --primary-light-text-green: #FDFFEE;
    --primary-dark-green: #373F0B;

    --secondary-blue: #0A84BF;
    --secondary-light-text-blue: #F1F8FF;
    --secondary-dark-blue: #0B373F;
    --secondary-dark-blue2: #0f4b57;

    --tertiary-red: #BF0A0A;
    --tertiary-light-text-red: #FFF1F1;
    --tertiary-dark-red: #3F0B0B;

    --br-sm: 0.25rem;
    --br-md: 0.5rem;
    --br-lg: 1rem;
    --br-xl: 2rem;
    --br-pill: 50rem;

    --transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Inter Tight', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-green);
    color: var(--primary-dark-green);
}

body * {
    transition: background-color var(--transition), color var(--transition);
}

body.dark-theme {
    background-color: var(--primary-dark-green);
    color: var(--primary-light-text-green);
}

body.dark-theme nav {
    background-color: var(--primary-light-text-green);
}

body.dark-theme nav .nav-links a, body.dark-theme nav .nav-links button, body.dark-theme nav .nav-logo a {
    color: var(--primary-dark-green);
}

body.dark-theme nav .nav-links a:hover, body.dark-theme nav .nav-links button:hover {
    color: var(--primary-light-text-green);
    background-color: var(--primary-dark-green);
}

body.dark-theme .header-blog-post {
    background-color: var(--primary-dark-green);
}

body.dark-theme .blue {
    background-color: var(--secondary-dark-blue);
    color: var(--secondary-light-text-blue);
}

body.dark-theme .blue h1, body.dark-theme .blue h2, body.dark-theme .blue h3, body.dark-theme .blue h4, body.dark-theme .blue h5, body.dark-theme .blue h6, body.dark-theme .blue p, body.dark-theme .blue li {
    color: var(--secondary-light-text-blue);
}

body.dark-theme .card {
    background-color: var(--secondary-dark-blue2);
}

body.dark-theme .blue .btn-primary {
    background-color: var(--secondary-light-text-blue);
    color: var(--secondary-dark-blue);
}

body.dark-theme .blue .btn-primary:hover {
    background-color: var(--secondary-blue);
    color: var(--secondary-light-text-blue);
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: var(--br-pill);
    border: none;
    cursor: pointer;
    font-size: calc(0.8rem + 0.2vw);
    font-weight: 500;
    transition: background-color var(--transition), color var(--transition), transform var(--transition);
    width: fit-content;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover {
    transform: translateY(-4px);
}

.btn-primary {
    background-color: var(--primary-green);
    color: var(--primary-light-text-green);
}

.btn-primary:hover {
    background-color: var(--primary-dark-green);
    color: var(--primary-light-text-green);
}

.btn-secondary {
    background-color: var(--secondary-blue);
    color: var(--secondary-light-text-blue);
}

.btn-secondary:hover {
    background-color: var(--secondary-dark-blue);
    color: var(--secondary-light-text-blue);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem calc(2rem + 1vw);
    z-index: 9999;
    position: fixed;
    width: calc(100% - 48px);
    margin: 1.5rem 1.5rem 0 1.5rem;
    border-radius: var(--br-lg);
    background-color: var(--primary-dark-green);
}

.nav-logo a {
    font-size: calc(1rem + 0.2vw);
    font-weight: 800;
    color: var(--primary-light-text-green);
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-toggler {
    font-size: calc(1rem + 0.2vw);
    font-weight: 500;
    color: var(--primary-light-text-green);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
}

.nav-links a, .nav-links button {
    font-size: calc(0.8rem + 0.2vw);
    font-weight: 500;
    color: var(--primary-light-text-green);
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    margin: 0 0.1rem;
    border-radius: var(--br-xl);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    transition: background-color var(--transition), color var(--transition);
}

.nav-links i {
    margin-right: 0.25rem;
}

.nav-links button i {
    margin-right: 0;
}

.nav-links a:hover, .nav-links button:hover {
    color: var(--primary-dark-green);
    background-color: var(--primary-light-text-green);
}

.header-blog-post {
    background-image: url('https://www.stubai.at/fileadmin/_processed_/d/8/csm_talpanorama-winter-stubaital_6a2c6b240f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 48px);
    margin: 24px 24px;
    z-index: -1;
    border-radius: var(--br-lg);
    overflow: hidden;
}

.hbp-blur {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
    padding: calc(2rem + 1vw);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hbp-category {
    position: absolute;
    top: 50%;
    right: -15%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    rotate: 90deg;
    z-index: 9;
}

.hbp-category span {
    color: var(--primary-light-text-green);
    font-weight: 500;
}

.hbp-category .line {
    width: 50vh;
    height: 1px;
    background-color: var(--primary-light-text-green);
}

.hbp-blur h1 {
    color: var(--primary-light-text-green);
    font-size: calc(2rem + 2vw);
    margin: 0;
}

.hbp-blur p {
    color: var(--primary-light-text-green);
    font-size: calc(1rem + 0.2vw);
    margin-top: 2rem;
    max-width: 80vw;
}

.nav-links.active {
    height: 175px;
    transition: height var(--transition);
}

.flex {
    display: flex;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: var(--br-pill);
    backdrop-filter: blur(10px);
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author span {
    color: var(--primary-light-text-green);
    margin: 0;
    gap: 0.5rem;
}

.author span h3 {
    font-weight: 500;
}

section {
    padding: 1.5rem calc(1rem + 1vw);
}

.blue {
    background-color: var(--background-blue);
    color: var(--secondary-dark-blue);
    border-radius: calc(1vw);
}

.blue h1, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6, .blue p, .blue li {
    color: var(--secondary-dark-blue);
}

.display-max {
    font-size: calc(2rem + 2vw);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Max cols on one row = 3 */
.col {
    flex: 1 1 100%;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: var(--br-lg);
    background-color: var(--background-blue2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color var(--transition);
}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    border-radius: var(--br-md);
}

.card h1 {
    margin: 1rem 0 0;
    font-size: calc(2rem + 0.15vw);
    font-weight: 800;
}

.card p {
    font-size: calc(1rem + 0.15vw);
}

.card .btn-primary {
    background-color: var(--secondary-blue);
    color: var(--secondary-light-text-blue);
    width: 100%;
    text-align: center;
    border-radius: var(--br-md);
}

.card .btn-primary:hover {
    background-color: var(--secondary-dark-blue);
    color: var(--secondary-light-text-blue);
}

.cookies-background {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000004b;
    backdrop-filter: blur(3px);
    transition: visibility var(--transition), opacity var(--transition);
}

.cookies {
    width: 600px;
    max-width: 600px;
    height: fit-content;
    padding: 1.5rem;
    background-color: var(--background-green);
    border-radius: var(--br-lg);
}

.cookies-content h1 {
    margin: 0 0 2rem;
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .col {
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 1200px) {
    .col {
        flex: 1 1 1%;
    }
}

@media screen and (max-width: 768px) {
    .hbp-category {
        display: none;
    }

    .header-blog-post {
        margin: 0;
        border-radius: 0;
        height: 100dvh;
    }

    nav {
        flex-direction: column;
    }

    .nav-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 0px;
        width: 100%;
        overflow: hidden;
        transition: height var(--transition);
    }

    .nav-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links a {
        padding: 0.5rem 0;
        font-size: 0.9rem;
    }

    nav {
        margin: 0;
        width: 100%;
        padding: 1.2rem;
        border-radius: 0 0 var(--br-lg) var(--br-lg);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav {
        margin: 0;
        width: 100%;
        padding: 1.2rem;
        border-radius: 0 0 var(--br-lg) var(--br-lg);
    }
}

@media screen and (min-width: 992px) {
    .hbp-category {
        right: -25%;
    }

    .nav-links.active {
        height: unset;
    }
}

@media screen and (min-width: 1200px) {
    .hbp-category {
        right: -13%;
    }
}